<h1>File Uploads</h1>
<%= form_with url:"/file-uploads", method: :post, :html => { :onsubmit => "submitPhotos(event)"} do |form| %>
  <%= form.file_field :file %>
  <br/>
  <%= form.submit "Upload"%>
<% end %>
<br/>
<button id="deleteCache">Delete Cache</button>
<script>
  let db;
  const indexedDB = window.indexedDB || window.webkitIndexedDB || window.mozIndexedDB || window.OIndexedDB || window.msIndexedDB,
        idbTransaction = window.IDBTransaction || window.webkitIDBTransaction || window.msIDBTransaction,
        idbKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange || window.msIDBKeyRange
  
  const createIndexedDb = () => {
    const DBOpenRequest = window.indexedDB.open('Floorplan', 2);
    DBOpenRequest.onerror = () => console.log('error')
    DBOpenRequest.onsuccess = () => {
        console.log('cache loaded successfully')
        db = DBOpenRequest.result
    }
    DBOpenRequest.onupgradeneeded = (e) =>  {
        db = e.target.result;
        const store = db.createObjectStore('imgCache', {keyPath: 'name'})
        store.transaction.oncomplete = () => db.transaction('imgCache', 'readwrite').objectStore('imgCache')
    }
  }
  
  const cacheFile = (file, auditNum) => {
    const data = {
      name: file.name,
      file: file,
      auditNum: auditNum
    }
    console.log(data)
    const tx = db.transaction('imgCache', 'readwrite')
    const store = tx.objectStore('imgCache')
    tx.onsuccess = () => {console.log('transaction created successfully')}
    tx.onerror = () => {console.log('transaction creation failed')}
  
    store.add(data)
    return tx.complete
  }
  
  const clearImagesFromDom = () => {
    Array.from(document.querySelectorAll('img')).forEach(img => img.remove())
  }
  
  const displayImagesFromCache = () => {
    clearImagesFromDom()
    const tx = db.transaction('imgCache', 'readonly')
    const store = tx.objectStore('imgCache')
    const cursorRequest = store.openCursor()
    cursorRequest.onsuccess = (e) => {
      const cursor = e.target.result
      if (cursor) {
        const imgFile = cursor.value.file
        const reader = new FileReader()
        reader.onload = () => {
          const dataURL = reader.result
          const imgElement = document.createElement('img')
          imgElement.id = imgFile.name
          imgElement.height = 400
          imgElement.width = 400
          imgElement.src = dataURL
          document.body.append(imgElement)
        }
        reader.readAsDataURL(imgFile)
  
        cursor.continue()
      }
    }
  }
  
  const clearCache = () => {
    const tx = db.transaction('imgCache', 'readwrite')
    const store = tx.objectStore('imgCache')
    const keysTx = store.getAllKeys()
    keysTx.onsuccess = (e) => {
      const keys = e.target.result
      keys.forEach(key => {
        store.delete(key)
      });
      clearImagesFromDom()
    }
  }

  const submitPhotos = (e) => {
    console.log(e)
  }
  
  window.onload = () => {
    createIndexedDb()
  }
  
  document.querySelector("#deleteCache").addEventListener("click", () => {
    clearCache()
  })
  
  document.forms[0].file.addEventListener("change", (e) => {
    cacheFile(e.target.files[0], Math.floor(Math.random() * 1000))
    displayImagesFromCache()
  })
</script>
